knn for covid-19

In [2]:
# Import required libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report
import matplotlib.pyplot as plt

In [ ]:
# Load the dataset
file_path = file_path = "C:\\Users\\N I T R O\\jupyternotebook\\covid_19_clean_complete.csv"

covid_df = pd.read_csv(file_path)

# Preview the first few rows

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  14664 non-null  object
 1   Country/Region  49068 non-null  object
 2   Lat             49068 non-null  float64
 3   Long            49068 non-null  float64
 4   Date            49068 non-null  object
 5   Confirmed       49068 non-null  int64
 6   Deaths          49068 non-null  int64
 7   Recovered       49068 non-null  int64
 8   Active          49068 non-null  int64
 9   WHO Region      49068 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 3.7+ MB

In [9]:
covid_df.head()

# Check basic info
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country/Region  49068 non-null  object
 1   Lat             49068 non-null  float64
 2   Long            49068 non-null  float64
 3   Confirmed       49068 non-null  int64
 4   Deaths          49068 non-null  int64
 5   Recovered       49068 non-null  int64
 6   Active          49068 non-null  int64
 7   WHO Region      49068 non-null  object
dtypes: float64(2), int64(4), object(2)
memory usage: 3.0+ MB

In [10]:
# Handle missing values: Fill numeric columns with their means
numeric_cols = covid_df.select_dtypes(include='number').columns
covid_df[numeric_cols] = covid_df[numeric_cols].fillna(covid_df[numeric_cols].mean())

# Fill other columns with appropriate values if necessary (e.g., 'Unknown' for object columns)
covid_df = covid_df.fillna('Unknown')

# Inspect updated dataset
covid_df.head()

,Country/Region,Lat,Long,Confirmed,Deaths,Recovered,Active,WHO Region
0,Afghanistan,33.93911,67.709953,0,0,0,0,Eastern Mediterranean
1,Albania,41.15330,20.168300,0,0,0,0,Europe
2,Algeria,28.03390,1.659600,0,0,0,0,Africa
3,Andorra,42.50630,1.521800,0,0,0,0,Europe
4,Angola,-11.20270,17.873900,0,0,0,0,Africa